[run]
source = couchpotato
omit =
    */test_*
    */tests/*
    libs/*

[report]
show_missing = true
precision = 1
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError

[html]
directory = htmlcov
