*.pyc
__pycache__/
*.egg-info/
.venv/
/data/
/_env/
/_source/
.project
.pydevproject
/node_modules/
/.tmp/
/.sass-cache/
.coverage
coverage.xml
nosetests.xml
htmlcov/

# Visual Studio
/.vs

# macOS
.DS_Store

# Test data directory
test-data/
.config
# npm
package-lock.json
