services:
  couchpotato:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: couchpotato-dev
    environment:
      - TZ=Australia/Brisbane
    volumes:
      - /tmp/cp-config/config:/config
    ports:
      - "5050:5050"
    restart: "no"
    command: ["python3", "CouchPotato.py", "--console_log", "--data_dir=/config/data", "--config_file=/config/config.ini"]
